body {
  background-color: #ffffff; /* Light gray background */
  font-family: Arial, sans-serif;
}

a:hover {
  transform: scale(1.02);
  background-color: #ff6f61;
  border-radius: 5px;
}

header,
footer {
  background-color: #0077b6; /* Midnight Blue */
  color: white !important;
}
.card {
  background-color: #676767; /* Dim Gray */
}
.background {
  background-color: #d9d9d9;
}
.breadcrumb-item a {
  color: #0077b6;
  text-decoration: none;
}
.breadcrumb-item.active {
  color: #676767;
}
.tagline {
  font-style: italic;
  color: #d3d3d3; /* Silver */
}
